# Environment variables for DoKA Seca project
# This file is sourced by direnv to set up the environment for the project.
# Ensure you have direnv installed and configured in your shell.
# This is a sample .envrc file.
# Do NOT commit this file to version control in production environments !!!
export CLUSTER_TOPOLOGY=true
export EXP_CLUSTER_RESOURCE_SET=true
export K8S_ADDRESS=k8s-home.lab
# Minio
export MINIO_ROOT_USER=minio
export MINIO_ROOT_PASSWORD=minio123
export KUBECONFIG=./kubeconfigs/control-plane-dev
# Vault
export VAULT_ADDR="https://localhost:8200"
export VAULT_TOKEN=myroot
# Keycloak
export KEYCLOAK_USER=admin
export KEYCLOAK_PASSWORD=123
export KEYCLOAK_URL=your.domain.com
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgrespassword
