# Environment variables for DoKA Seca project
# This file is sourced by direnv to set up the environment for the project.
# Direnv allows you to automatically set environment variables when you enter a directory.
# Ensure you have direnv installed and configured in your shell.
# This is a sample .envrc file.
# Do NOT commit this file to version control in production environments !!!

# Load secrets from .secrets file if it exists
dotenv .secrets

export PROJECT_ROOT
PROJECT_ROOT=$(git rev-parse --show-toplevel 2>/dev/null)
# Core variables
export BASE_DOMAIN=dokaseca.local
# Kubernetes
# Ensure you have the correct kubeconfig files in the specified directory
export KUBECONFIG_DIR="$PROJECT_ROOT/kubeconfigs"
export KUBECONFIG="$KUBECONFIG_DIR/hub-dev:$KUBECONFIG_DIR/spokes-dev:$KUBECONFIG_DIR/spokes-stg:$KUBECONFIG_DIR/spokes-prod"
# Cluster
export CLUSTER_TOPOLOGY=true
# Minio
export MINIO_ROOT_USER=minio
# Note: MINIO_ROOT_PASSWORD should be set in .secrets file

# Vault
export VAULT_ADDR="http://localhost:8200"
# Note: VAULT_TOKEN should be set in .secrets file

# Keycloak
export KEYCLOAK_USER=admin
export KEYCLOAK_URL=your.domain.com
# Note: KEYCLOAK_PASSWORD should be set in .secrets file

export POSTGRES_USER=postgres
# Note: POSTGRES_PASSWORD should be set in .secrets file
# Kubefleet
export HUB_CLUSTER=hub
export HUB_CLUSTER_CONTEXT="kind-${HUB_CLUSTER}"
export MEMBER_CLUSTER=member-1
export HUB_CLUSTER_ADDRESS
HUB_CLUSTER_ADDRESS="https://$(docker inspect "${HUB_CLUSTER}-control-plane" --format='{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}'):6443"
export MEMBER_CLUSTER_CONTEXT="kind-${MEMBER_CLUSTER}"
