# PostgreSQL main credentials
PG_USER=postgres
PG_PASSWORD=postgres_password

# Keycloak credentials
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=keycloak_password

# DevLake credentials
DL_DB_USERNAME=devlake
DL_DB_PASSWORD=devlake_password

# Temporal credentials
TEMPORAL_DB_USERNAME=temporal
TEMPORAL_DB_PASSWORD=temporal_password

# Backstage credentials
BACKSTAGE_DB_USERNAME=backstage
BACKSTAGE_DB_PASSWORD=backstage_password

# LiteLLM credentials
LITELLM_DB_USERNAME=litellm
LITELLM_DB_PASSWORD=litellm_password

# Langfuse credentials
LANGFUSE_DB_USERNAME=langfuse
LANGFUSE_DB_PASSWORD=langfuse_password

# Keycloak admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_password

# MinIO credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minio123

# Grafana admin
GRAFANA_ADMIN_PASSWORD=admin

# ClickHouse credentials
CLICKHOUSE_DB="default"
CLICKHOUSE_USER="clickhouse"
CLICKHOUSE_PASSWORD="clickhouse"

# MongoDB credentials
MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=mongo
# Mongo Express credentials
ME_WEB_USERNAME=admin
ME_WEB_PASSWORD=password
