name: docs

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - '*.md'
      - 'mkdocs.yaml'
      - 'requirements/docs.txt'
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
      - '*.md'
      - 'mkdocs.yaml'
      - 'requirements/docs.txt'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.x

      - run: echo "cache_id=$(date --utc '+%V')" >> "$GITHUB_ENV"

      - name: Cache pip dependencies
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('**/requirements/docs.txt') }}
          restore-keys: |
            pip-

      - name: Cache mkdocs material
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - run: |
          mkdir -p .cache
          pip install -r requirements/docs.txt
          mkdocs gh-deploy --force
